<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Poster</th>
      <th>Tags</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsposts.each do |newspost| %>
      <tr>
        <th><%=raw newspost.title %></th>
        <td><%=raw newspost.content %></td>
        <td><%=raw newspost.poster %></td>
        <td>
          <ul>
            <% newspost.tags.each do |tag| %>
            <li><%= tag.name %></li>  
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Manage Tags', newspost_tags_path(newspost) %></td>
        <td><%= link_to 'Show', newspost %></td>
        <td><%= link_to 'Edit', edit_newspost_path(newspost) %></td>
        <td><%= link_to 'Destroy', newspost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newspost', new_newspost_path %>
