<!DOCTYPE html>
<html>
<head>
  <title>Foodbank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body style="background-color:#4190C4">
<%= render :file => 'layouts/navbar' %>
<div class = "container">
<%= yield %>
</div>

<!-- devise notices -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html